{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero-banner" id="hero-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('{% static 'img/An-automated-sortation-centre-at-Delhivery-s-truck_1689877048934_1762358893569.avif' %}');">
        <h1 id="hero-title">Welcome to EcomExpress</h1>
        <p id="hero-desc">Everything you need, all in one place.</p>
    </div>

    <div class="sub-nav-bar">
        <button class="nav-link-custom" onclick="filterCat('grocery', this)">🍎 Grocery</button>
        <button class="nav-link-custom" onclick="filterCat('clothing', this)">👕 Clothing</button>
        <button class="nav-link-custom" onclick="filterCat('makeup', this)">💄 Makeup</button>
    </div>

    <div class="container">
        <div class="row g-4" id="product-grid">
            <div class="row g-4" id="product-grid">
            
            <div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="makeup">
                <div class="card product-card shadow-sm">
                    <img src="{% static 'img/batch-by-wisconsin-hemp-scientific-XanILp6v_Eg-unsplash.jpg' %}" 
                         class="product-img" 
                         onclick="showModal('Sunscreen', '{% static 'img/batch-by-wisconsin-hemp-scientific-XanILp6v_Eg-unsplash.jpg' %}', '200')">
                   
                    <div class="card-body">
                        <h6 class="text-muted small mb-1">Makeup</h6>
                        <h5 class="fw-bold mb-0">Sunscreen SPF 50++ </h5>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="fw-bold text-success">₹200</span>
                            <button class="btn btn-sm btn-dark rounded-pill px-3"
                            onclick="addToCart('Sunscreen SPF 50++', '200')">
    Add
</button>
                        </div>
                    </div>
                </div>
            </div>

        
        
        <div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="grocery">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/matheus-cenali-wXuzS9xR49M-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Apples', '{% static 'img/matheus-cenali-wXuzS9xR49M-unsplash.jpg' %}', '108')">
        
        <div class="card-body">
            <h6 class="text-muted small mb-1">Grocery</h6>
            <h5 class="fw-bold mb-0">Organic Red Apples</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹108</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Organic Red Apples', '108')">
    Add
</button>
            </div>
        </div>
    </div>
</div>

        <div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="makeup">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/ajie-wp-huZjFffLU_I-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Black Mascara', '{% static 'img/ajie-wp-huZjFffLU_I-unsplash.jpg' %}', '250')">
        
        <div class="card-body">
            <h6 class="text-muted small mb-1">Makeup</h6>
            <h5 class="fw-bold mb-0">Black Mascara</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹250</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Black Mascara', '250')">
    Add
</button>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="grocery">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/rodrigo-dos-reis-DkTuGvgPotA-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Fresh Bananas', '{% static 'img/rodrigo-dos-reis-DkTuGvgPotA-unsplash.jpg' %}', '40'.)">
        
        <div class="card-body">
            <h6 class="text-muted small mb-1">Grocery</h6>
            <h5 class="fw-bold mb-0">Fresh Bananas</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹40</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Fresh Bananas', '40')">
    Add
</button>
            </div>
        </div>
    </div>
</div>



          <div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="makeup">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/nada-gamal-isHJwLRMpqs-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Red Matte Lipstick', '{% static 'img/nada-gamal-isHJwLRMpqs-unsplash.jpg' %}', '300')">
        
        <div class="card-body">
            <h6 class="text-muted small mb-1">Makeup</h6>
            <h5 class="fw-bold mb-0">Red Matte Lipstick</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹300</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Red Matte Lipstick', '300')">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="clothing">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/zulfugar-karimov-tymDey6vZQM-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Summer Floral dress', '{% static 'img/zulfugar-karimov-tymDey6vZQM-unsplash.jpg' %}', '1000')">

        <div class="card-body">
            <h6 class="text-muted small mb-1">Clothing</h6>
            <h5 class="fw-bold mb-0">Summer Floral dress</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹1000</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Summer Floral dress', '1000')">Add</button>
            </div>
        </div>
    </div>
</div>


        <div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="makeup">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/zeliang-xiao-THqdExpC5eE-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Eyeshadow palette', '{% static 'img/zeliang-xiao-THqdExpC5eE-unsplash.jpg' %}', '420')">

        <div class="card-body">
            <h6 class="text-muted small mb-1">Makeup</h6>
            <h5 class="fw-bold mb-0">Eyeshadow palette</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹420</span>
                 <button class="btn btn-sm btn-dark rounded-pill px-3" 
        onclick="addToCart('Eyeshadow palette', '420')">
    Add
</button>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="clothing">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/vinay-manda-NQ0dtGvTZEQ-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Saree', '{% static 'img/vinay-manda-NQ0dtGvTZEQ-unsplash.jpg' %}', '1500')">
        
        <div class="card-body">
            <h6 class="text-muted small mb-1">Clothing</h6>
            <h5 class="fw-bold mb-0">Saree</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹1500</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Saree', '1500')">Add</button>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="grocery">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/eugene-golovesov-M7Mb3hRvoh0-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Fresh Tomatoes', '{% static 'img/eugene-golovesov-M7Mb3hRvoh0-unsplash.jpg' %}', '25')">
        
        <div class="card-body">
            <h6 class="text-muted small mb-1">Grocery</h6>
            <h5 class="fw-bold mb-0">Fresh Tomatoes</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹25</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Fresh Tomatoes', '25')">Add</button>
            </div>
        </div>
    </div>
    </div>


<div class="col-lg-3 col-md-4 col-sm-6 product-item" data-cat="clothing">
    <div class="card product-card shadow-sm">
        <img src="{% static 'img/parker-burchfield-tvG4WvjgsEY-unsplash.jpg' %}" 
             class="product-img" 
             onclick="showModal('Classic T-Shirt', '{% static 'img/parker-burchfield-tvG4WvjgsEY-unsplash.jpg' %}', '250'.)">
        
        <div class="card-body">
            <h6 class="text-muted small mb-1">Clothing</h6>
            <h5 class="fw-bold mb-0">Classic T-Shirt</h5>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <span class="fw-bold text-success">₹250</span>
                <button class="btn btn-sm btn-dark rounded-pill px-3"
                onclick="addToCart('Classic T-Shirt', '250')">Add</button>
            </div>
        </div>
    </div>
</div>
            </div>
    </div>

            </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
        </div>
{% endblock %}